<!DOCTYPE html>
<html>
  <head>
    <title>FoodieBuddies</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
    <!-- <link rel="stylesheet" href='react-date-picker/index.css'> -->
    <script src="https://use.fontawesome.com/dc492cc8b0.js"></script>
    <script src="http://widget.cloudinary.com/global/all.js"></script>

    <script type="text/javascript">
      window.cloudinary_options = {
      cloud_name: '<%= ENV['CLOUD_NAME'] %>',
      upload_preset: '<%= ENV['UPLOAD_PRESET'] %>'
      };
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
